---
import Layout from "./../layouts/Layout.astro";
import Project from "../components/Project.astro";
---

<Layout title="Mohamed Fouda" selectedItem="home">
  <nav class="main">
    <div class="container">
      <main class="fold-content-container">
        <div class="fold-content">
          <h1>Hi, I'm Mohamed.</h1>
          <h2>I build and break things with code & AI.</h2>
          <p class="lead">
            Full-stack developer curious about all things AI and LLM
            red-teaming. I enjoy building cool web projects, breaking things
            (for good reasons), and learning something new every day.
          </p>
        </div>
        <a href="mailto:muhammadbadr30@gmail.com" class="button w-button"
          >Contact</a
        >
      </main>
      <div class="projects-section">
        <Project
          imageSrc="./assets/browser.svg"
          imageAlt=""
          title="Software Development"
          technologies={[
            "React",
            "Next.js",
            "Node.js",
            "MongoDB",
            "RabbitMQ",
            "AWS",
            "Nest.js",
            "PostgreSQL",
          ]}
          href="/software"
        />
        <Project
          imageSrc="./assets/database.svg"
          imageAlt=""
          title="LLM Red Teaming"
          technologies={["Python", "Higging Face", "LangChain"]}
          href="/llms"
        />
      </div>
    </div>
  </nav>
</Layout>
