---
import Header from "./../components/Header.astro";
import Sidebar from "./../components/Sidebar.astro";

interface Props {
  title: string;
  selectedItem: string;
}

const { title, selectedItem } = Astro.props;
---

<!doctype html>
<html lang="en">
  <Header title={title} />
  <body>
    <div class="content">
      <Sidebar selectedItem={selectedItem} />
      <slot />
    </div>
  </body>
</html>
